*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.logo_info,.header_nav, .navigation, .main_header, .header_description, .header_buttons{
    display: flex;
    align-items: center;
}
/*Header*/
.burger{
    display:none;
}
.header_nav{
    background: black;
    padding: 16px 240px;
    justify-content: space-between;
}

.header_description h1,.advantage_desc h2,.footer_quote p, .Landing_pages h2, .landing_card h3{
    font-family: var(--RobotoB);
    font-weight:700;
}
.mail_nav, nav a, .header_description p, .advantage_desc p, .quote, .footer_quote a, .created_by p,  .footer_created_by a{
    font-family: var(--RobotoM);
    font-weight: 400;
}
.mail_nav, nav a{
    font-size: 16px;
}
.logo_info img{
    margin-right:65px
}
.mail_nav{
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--gray);
}
nav{
    margin-right: 65px;
}
nav a{
    margin-right: 20px;
}
nav a:last-child{
    margin-right: 0;
}

/*header_img*/
.main_header{
    background: var(--orange);
    justify-content: center;
    padding: 0 240px;
}

.header_description{
    flex-direction: column;
    padding: 0 22px;
    margin-right: 60px;
}
.header_description h1{
    
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    margin-bottom: 27px;
}
.header_description p{
    width: 580px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 22px;
    text-align: center;
}
.header_buttons button:first-child{
    margin-right: 8px;
}
/*advantages*/
.advantage{
    display: flex;
}
.advantage img{
    margin-right: 24px;
}
.advantage_desc{
    width: 250px;
}
.advantage_desc h2{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 13px;
}
.advantage_desc p{
    font-size: 16px;
    line-height: 24px;
}
.main_advantages{
    padding: 80px 140px;
    display: grid;
    grid-template-rows: repeat(1,auto);
    grid-template-columns: repeat(3,auto);
    column-gap: 16px;
}

/*main_slaider*/

.main_slaider{
    background: black;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
.quote{
    color: white;
    font-size:40px;
    line-height: 48px;
    margin-bottom: 40px;
    margin-top:40px;
}
.footer_quote p{
    color: white;
    font-size:18px;
    line-height: 27px;
}
.slaider{
    display: flex;
    width: 610px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer_quote a{
    font-size: 16px;
    line-height: 24px;
    color:var(--extra-soft-gray);
}
/*Landing pages*/
.Landing_pages{
    padding: 100px 200px;
}
.Landing_pages h2{
    align-self: flex-start;
    font-size:40px;
    line-height: 48px;
    margin-bottom: 25px;
}
.landing_card{
    display:flex;
    flex-direction: column;
    border-radius:6px;
    border: 1px solid gray;
}
.landing_card h3{
    font-size: 20px;
    line-height: 28px;
    padding: 24px 32px;
}
.landing_img{
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.cards{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    gap: 16px;
}

/*footer*/
footer{
    background: black;
    padding: 60px 200px 30px 200px;
}
.footer_logo, .footer_nav, .footer_created_by{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_logo{
    margin-bottom: 60px;
}
.footer_nav{
    margin-bottom: 30px;
}
.footer_logo button{
    padding: 12px 32px;
    font-size: 16px;
}
.footer_nav nav{
    margin-right:0;
}
.footer_media a{
    padding: 17px;
    background: var(--gray);
    margin-right: 8px;
}
.footer_media a:last-child{
    margin-right: 0px;
}
hr{
   opacity: .5;
}
.footer_creators, .created_by{
    display: flex;
    align-items: center;
}
.created_by{
    margin-right: 12px;
}
.created_by:last-child{
    margin-right: 0;
}
.created_by p{
    color:white;
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
}
.footer_created_by{
    margin-top: 24px;
}

@media(max-width:320px){
    /*Header*/
    .header_nav{
        padding: 12px 16px;
    }
    .mail_nav, .header_navigation, .header_button{
        display:none;
    }
    .burger{
        display: initial;
    }
    .logo_info img{
        margin-right:0;
    }
    /*header_img*/
    .main_header{
        padding: 48px 16px;
    }
    .main_header img{
        display: none
    }
    .header_description{
        margin-right: 0;
        padding: 0;
    }
    .header_description h1{
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 16px;
        text-align: center;
    }
    .header_description p{
        width: 100%;
        margin-bottom: 24px;
    }
    .header_buttons{
        flex-direction: column;
    }
    .header_buttons button{
        font-size: 16px;
    }
    .header_buttons button:first-child{
        padding: 12px 72px;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .header_buttons button:last-child{
        padding: 12px 82px;
    }

    /*advantages*/
    .main_advantages{
        padding: 80px 16px;
        grid-template-rows: repeat(3,auto);
        grid-template-columns: repeat(1,auto);
        column-gap:0;
        row-gap: 48px;
    }
    .advantage_desc{
        width: 100%;
    }
    .advantage, .advantage_desc{
        flex-direction: column;
    }
    .advantage img{
        width:50px;
        height:50px;
        margin-right: 0px;
        margin-bottom:16px;
    }
    .advantage_desc h2{
        margin-bottom: 8px;
    }

    /*main_slaider*/
    .main_slaider{
        padding: 32px 16px;
    }
    .quote{
        font-size: 20px;
        line-height: 140%;
        margin-top:24px;
        margin-bottom:24px;
    }
    .footer_quote p{
        font-size:16px;
    }
    .footer_quote a{
        font-size: 14px;
    }
    /*Landing pages*/
    .Landing_pages{
        padding: 80px 16px;
    }
    .Landing_pages h2{
        margin-bottom: 32px;
    }
    .cards{
        grid-template-columns: repeat(1,auto);
        grid-template-rows: repeat(4,auto);
        column-gap: 0;
        row-gap: 16px;
    }
    .landing_card h3{
        padding: 24px 16px;
    }
    /*footer*/
    footer{
        padding: 12px 16px 32px 16px;
    }
    .footer_nav nav a{
        display: initial
    }
    .footer_logo, .footer_nav{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .footer_logo button{
        width:100%;
        margin-top: 32px;
    }
    .footer_navigation{
        display: flex;
        flex-wrap:wrap;
    }
    .footer_navigation a{
        margin-right: 24px;
        margin-bottom: 24px;
    }
    .footer_navigation a:nth-child(3){
        margin-right: 0;
    }
    .footer_navigation a:last-child{
        margin-right: 0;
        margin-bottom: 32px;
    }
    hr{
        display:none;
    }
    
    .footer_creators, .footer_created_by{
        flex-direction:column;
        align-items: flex-start;
    }
    .created_by:first-child{
        margin-right: 0;
        margin-bottom: 12px;
    }
    .footer_creators{
        margin-bottom: 32px;
    }
}